* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.button-inner-table {
    margin-top: 15px;
    width: 100%;
    background: gray;
}
.table-second {
    margin-top: 70px;
}
.column-table {
    display: block;
    margin: 0 auto;
    margin-left: 20px;
}
.table-elem {
    margin-left: 33px;
    top: 10px;
    width: 200px;
    display: flex;
    align-items: center;
}
.table-second {
    max-width: 1200px;
}
.table-inner-market {
    margin: 25px 25px 25px 1px;
}

.name-deals-col {
    left: 35px;
    top: 20px;
}
.input-deals {
    opacity: 0;
}


.side-tags-col {
    left: 70px;
    width: 90px;
    position: relative;
    top: 12px; 
}


.amount-col {
    position: relative;
    top: 12px;
    margin-left: 54px;
}


.limit-col {
    position: relative;
    top: 12px;
    margin: 0 auto;
}


.market-col {
    margin-left: 35px;
    position: relative;
    top: 12px;
}

.arrow-table {
    cursor: pointer;
    z-index: 2;
    top: 25px;
}